#version=RHEL7
install
cdrom
lang en_US.UTF-8
keyboard us
unsupported_hardware
rootpw vagrant
firewall --disabled
selinux --disabled
timezone UTC
unsupported_hardware
bootloader --location=mbr
text
skipx
zerombr
clearpart --all --initlabel
autopart
auth --enableshadow --passalgo=sha512 --kickstart
firstboot --disabled
eula --agreed
services --disabled="sendmail,postfix" --enabled="sshd,ntpd,ntpdate"
reboot
user --name=vagrant --plaintext --password vagrant --groups=vagrant,wheel

# Network information
network  --bootproto=dhcp
network  --hostname=localhost.localdomain
# Root password
rootpw --iscrypted $1$v4K9E8Wj$gZIHJ5JtQL5ZGZXeqSSsd0
# SELinux configuration
selinux --disabled
# Do not configure the X Window System
skipx
# System timezone
timezone UTC --isUtc
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
autopart --type=lvm
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel

%packages --ignoremissing
@core
bzip2
curl
gcc
kernel-devel
kernel-headers
make
net-tools
nfs-utils
patch
perl
wget
-ipw2100-firmware
-ipw2200-firmware
-ivtv-firmware

%end

%post
yum update -y

# update root certs
wget -O/etc/pki/tls/certs/ca-bundle.crt http://curl.haxx.se/ca/cacert.pem

# sudo
yum install -y sudo
echo "vagrant        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers

yum install -y openssl-devel
yum install -y readline-devel
yum install -y zlib-devel
yum install -y gcc
yum install -y kernel-headers
yum install -y kernel-devel
yum install -y net-tools
yum install -y bzip2
yum install -y wget

yum clean all
%end
